*{
    text-decoration: none;
    list-style: none;
    border-collapse: none;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

#container{
    width : 330px;
    height: 377.5px;
    margin : 50px auto;
    border-radius: 10px;
    border-color : gray;
    background-color: rgb(219, 219, 219);
    border-style: solid;
}

.cal_display{
    width : 312px;
    height : 63px;
    text-align: end;
    background-color: rgb(95, 187, 87);
    margin: 9px;
    font-size:30px;
    border-radius: 10px;
    border-color: rgb(100, 100, 100);
    border-style: solid;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}

#cal_numButton{
    width : 330px;
    height : calc(377.5px - 63px - 22px);
    display: grid;
    grid-template: repeat(4,1fr)/repeat(4,1fr);
    align-items: center;
    justify-items: center;
}


.button {
    width : 50.5px;
    height : 50.5px;
    font-size : 24px;
    border: 2px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    transition: 0.3s;
}

.button:hover {
    background-color: lightgray;
}

